<div *ngIf="user$ | async as user">
  <div class="profile" fxLayout="row">
    <div fxFlex>
      <div class="profile-name">{{user.fullName}}</div>
      <div class="profile-sport" *ngIf="user.sportNames">{{user.sportNames}}</div>
    </div>
    <div fxFlex fxLayoutAlign="end">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'edit'">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="setActiveUser(user)">
          <mat-icon>favorite</mat-icon>
          <span>Active</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <mat-tab-group [dynamicHeight]="true">
    <mat-tab label="one">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Two">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
