<div fxFlex="20"></div>
<div fxFlex fxFlexFill fxLayout="column">
  <div class="chat-conversation" #chat>
    <div *ngFor="let i of conversation$ | async" class="message">
      <app-response *ngIf="!i.final" [message]="i" [extended]="user.showExtra"></app-response>
    </div>
  </div>
  <div class="chat-input">
    <div class="typing" *ngIf="thinking$ | async">Assistant is typing ...</div>
    <div class="typing" *ngIf="speaking">Listening ...</div>
    <mat-card [ngClass]="{'listening' : speaking}">
      <mat-icon class="search-icon">search</mat-icon>
      <input #query placeholder="Your search query" (keyup.enter)="addMessage()" [disabled]="listening">
      <button class="speak-icon" mat-icon-button (click)="startSpeaking()" *ngIf="!speaking"><mat-icon>mic</mat-icon></button>
      <button class="speak-icon" mat-icon-button *ngIf="speaking">...</button>
    </mat-card>
  </div>
</div>
<div fxFlex="20"></div>
