:host {
  margin: 0 0 20px 20%;
  text-align: right;
}

.assistant {
  text-align: left;
  margin: 0 20% 20px 0;
  .message {
    color: #fff;
    background-color: #387ef5;
  }
}

.message{
  display: inline-block;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  color: #343434;

  p, small{
    margin: 0;
    white-space: pre-line;
  }

  small {
    font-size: 0.7em;
  }
}

.date {
  font-size: 0.6em;
  padding-bottom: 3px;
  color: #a5a5a5;
}
