<div fxLayoutGap="10px" fxLayout="column">
  <mat-card>
    <mat-card-header>
      <mat-card-title>General</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="First Name" id="firstName" [(ngModel)]="user.firstName" name="firstName"/>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="Last Name" id="lastName" [(ngModel)]="user.lastName" name="lastName"/>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="Email" id="email" [(ngModel)]="user.email" name="email" type="email"/>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="Amei" id="amei" [(ngModel)]="user.amei" name="amei"/>
      </mat-form-field>
    </mat-card-content>

    <mat-form-field class="fullWidth">
      <mat-select placeholder="Language" [(ngModel)]="user.lang">
        <mat-option value="nl">Nederlands</mat-option>
        <mat-option value="en">Engels</mat-option>
        <mat-option value="fr">Frans</mat-option>
        <mat-option value="de">Duits</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>HRX</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <mat-form-field class="fullWidth">
        <input matInput placeholder="Postcode" id="PostalCode" [(ngModel)]="user.hrx.postalCode" name="postalcode"
               type="number"/>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input matInput [matDatepicker]="age" placeholder="Geboorte datum"
               [(ngModel)]="user.hrx.birthDate">
        <mat-datepicker-toggle matSuffix [for]="age"></mat-datepicker-toggle>
        <mat-datepicker #age></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input matInput [matDatepicker]="startWorkingDate" placeholder="Begonnen met werken"
               [(ngModel)]="user.hrx.startWorkingDate">
        <mat-datepicker-toggle matSuffix [for]="startWorkingDate"></mat-datepicker-toggle>
        <mat-datepicker #startWorkingDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input matInput [matDatepicker]="startWorkingAtAmDate" placeholder="Begonnen met werken voor ArcelorMittal"
               [(ngModel)]="user.hrx.startWorkingAtAmDate">
        <mat-datepicker-toggle matSuffix [for]="startWorkingAtAmDate"></mat-datepicker-toggle>
        <mat-datepicker #startWorkingAtAmDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <mat-select placeholder="Status" [(ngModel)]="user.hrx.status">
          <mat-option>None</mat-option>
          <mat-option value="Single">Single</mat-option>
          <mat-option value="Married">Getrouwd</mat-option>
          <mat-option value="LivingTogether">Samenwonend</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Extras</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-slide-toggle [(ngModel)]="user.showExtra">Show extra</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="user.showTranslations">Show translations</mat-slide-toggle>
    </mat-card-content>
  </mat-card>
</div>
