<div fxLayoutGap="10px" fxLayout="column">
  <mat-card>
    <mat-card-header>
      <mat-card-title>General</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="First Name" id="firstName" [(ngModel)]="user.firstName" name="firstName"/>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="Last Name" id="lastName" [(ngModel)]="user.lastName" name="lastName"/>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="Email" id="email" [(ngModel)]="user.email" name="email" type="email"/>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="Amei" id="amei" [(ngModel)]="user.amei" name="amei"/>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>HRX</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <mat-form-field class="fullWidth">
        <input matInput placeholder="Postcode" id="PostalCode" [(ngModel)]="user.hrx.postalCode" name="postalcode"
               type="number"/>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input matInput [matDatepicker]="age" placeholder="Geboorte datum"
               [(ngModel)]="user.hrx.birthDate">
        <mat-datepicker-toggle matSuffix [for]="age"></mat-datepicker-toggle>
        <mat-datepicker #age></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input matInput [matDatepicker]="seniorityYears" placeholder="Choose a date"
               [(ngModel)]="user.hrx.seniorityYears">
        <mat-datepicker-toggle matSuffix [for]="seniorityYears"></mat-datepicker-toggle>
        <mat-datepicker #seniorityYears></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input matInput [matDatepicker]="seniorityEmployerYears" placeholder="Werkervaring bij ArcelorMittal"
               [(ngModel)]="user.hrx.seniorityEmployerYears">
        <mat-datepicker-toggle matSuffix [for]="seniorityEmployerYears"></mat-datepicker-toggle>
        <mat-datepicker #seniorityEmployerYears></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <mat-select placeholder="Status" [(ngModel)]="user.hrx.status">
          <mat-option>None</mat-option>
          <mat-option value="Single">Single</mat-option>
          <mat-option value="Married">Getrouwd</mat-option>
          <mat-option value="LivingTogether">Samenwonend</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Extras</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-slide-toggle [(ngModel)]="user.showExtra">Show extra</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="user.showTranslations">Show translations</mat-slide-toggle>
    </mat-card-content>
  </mat-card>
</div>
