@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background:lightgray;
  margin: 0;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}
